@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?es5uvb');
  src:  url('../fonts/icomoon.eot?es5uvb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?es5uvb') format('truetype'),
    url('../fonts/icomoon.woff?es5uvb') format('woff'),
    url('../fonts/icomoon.svg?es5uvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view:before {
  content: "\f101";
}
.icon-calendar:before {
  content: "\f102";
}
.icon-category:before {
  content: "\f103";
}
.icon-comments:before {
  content: "\f104";
}
.icon-link:before {
  content: "\f105";
}
.icon-angle:before {
  content: "\f106";
}
.icon-location:before {
  content: "\f107";
}
.icon-arrow-up:before {
  content: "\f108";
}
.icon-email:before {
  content: "\f109";
}
.icon-qq:before {
  content: "\f110";
}
.icon-wechat:before {
  content: "\f111";
}
.icon-arrow:before {
  content: "\f112";
}
.icon-favored:before {
  content: "\f113";
}
.icon-favor:before {
  content: "\f114";
}
.icon-github:before {
  content: "\f115";
}